html {
    background-color: darkgreen;
   }
nav {
  display: flex;
  
}
a.upper {
    color: black;
    text-decoration: none;
    font-size: 18;
}
a.usuario{
  background-color: aqua;
  font-size: 20px;
  color: black;
  border-radius: 25px;
  text-decoration: none;
}
header {
    display: flex;
    margin: px0;
    align-items: center;  
    color: black;
    
}
ul, li {
  margin-left: 60px;
  display: flex;
  padding: 0;
  color: black;
  text-align: left;
}
.enlaces {
  display: inline-flex;
  text-align: left;
  list-style: none;
  margin: 130px 0px 60px 0;
}
body {
  margin: 0px;
}
p.store {
  color: blanchedalmond;
   margin-right: 60px; 
  font-size: 30px;
  background-image: 50%;
 
  
}
.center {
  text-align: center;
  padding-left: 660px;
}
.img1 {
  color: aqua;
  font-size: 100px;
}
.img2 {
  text-align: right;
}
main {
  display: flex; /* Usar flexbox para alinear elementos en línea */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
}

span {
  flex-grow: 1; /* El span ocupa todo el espacio disponible en la izquierda */
  margin-right: 10px; /* Añadir un margen a la derecha del span para separarlos */
  font-size: 50px;
}

img {
  max-width: 100%; /* Asegurarse de que la imagen no se desborde del contenedor */
}
footer {
  display: flex;
  
}
.delivery {
  text-decoration: none;
  color: black;
  background-color: azure;
  border-radius: 25px;
}
.contacto {
  text-decoration: none;
  color: black;
  background-color: azure;
  border-radius: 25px;
}
.slogan2 {
  font-size: 25px;
}